.profile {
    display: flex;
    align-items: flex-start;
    gap: 56px;
    padding: 20px 0 0;
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        gap: 24px;
    }
}