.card {
    width: 32px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.card__name {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 20px;
    margin-bottom: 12px;
}   

.card__image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}